@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron3">
    <h1>Welcome to Contoso University</h1>
    <img src="~/images/main.jpg" alt="Flowers in Chania" width="460" height="345">
</div>
<div class="jumbotron2">
    <h2>Choose your own adventure</h2>
    <p>Build the life you’ve always wanted with a degree from Contoso University. Learn more about the programs and degrees we offer and start your journey today</p>
</div>
